Tema4/XMLS/Ejercicio1/Ejercicio2/assets/series.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="serie">
                <xs:complexType>
                <xs:all>
                    <xs:element name="titulo" type="xs:string"/>
                    <xs:element name="creador" type="xs:string"/>
                </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>